body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav {
    background-color: #1e293b;
    padding: 15px 20px;
}

.item {
    position: relative;
}

.mega {
    position: absolute;
    left: 0;
    top: 40px;
    background: #1e293b;
    padding: 15px;
    display: none;
    width: 350px;
    border-radius: 6px;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.item:hover .mega{
    display: grid;
}

h3 {
    margin: 0 0 6px;
    font-size: 14px;
    color: #94a3b8;
}

@media(max-width: 700px) {
    ul{
        flex-direction: column;
    }

    .mega{
        position: static;
        width: 100%;
        display: none;
        grid-template-columns: 1fr;
    }

    .item:hover .mega {
        display: block;
    }
}