body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    color: white;
}

a {
    color: #333;
}

.description {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}



.nav {
    background-color: #1e293b;
    padding: 15px 20px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu-item {
    position: relative;
}

.menu-item a {
    color: white;
    text-decoration: none;
    padding: 5px 8px;
}

.mega-menu {
    position: absolute;
    left: 0;
    top: 40px;
    background: #1e293b;
    padding: 20px;
    display: none;
    width: 600px;
    border-radius: 8px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.meni-item:hover .mega-menu {
    display: grid;
}

.mega-column h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #94a3b8;
}

.mega-column a {
    display: block;
    margin: 5px 0;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.mega-column a:hover {
    color: #38bdf8;
}